In [1]:
import pandas as pd

In [4]:
adresik_1 = "https://otwartedane.gdynia.pl/dataset/137d9441-c3cf-488e-b2d7-fa3e3e3ddc63/resource/3351b5b0-c269-4c44-8099-c0acde60b2f9/download/iso37120_7_5_data.csv"
adresik_2 = "https://otwartedane.gdynia.pl/pl/dataset/dcf584eb-5003-4766-994f-e69cf530cb10/resource/902f1074-33e4-4968-b701-de0dd1e66a6b/download/city_2_2_data.csv"

In [5]:
df_1 = pd.read_csv(adresik_1)
df_2 = pd.read_csv(adresik_2)

In [6]:
df_2

           day  polska  pomorskie  gdynia
0   2015-01-31    11.9       11.6     5.8
1   2015-02-28    11.9       11.6     5.9
2   2015-03-31    11.5       11.2     5.7
3   2015-04-30    11.1       10.7     5.6
4   2015-05-31    10.7       10.1     5.4
..         ...     ...        ...     ...
89  2022-08-31     4.8        4.3     2.0
90  2022-09-30     5.1        4.5     1.9
91  2022-10-31     5.1        4.5     1.8
92  2022-11-30     5.1        4.5     2.1
93  2022-12-31     5.2        4.6     1.9

[94 rows x 4 columns]